{% extends 'catalog/base.html' %}

{% block content %}
<div class="col-12">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Верификация</h3>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="confirmation_code">Код подтверждения:</label>
                            <input type="text" id="confirmation_code" name="confirmation_code" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Подтвердить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}