{% extends 'catalog/base.html '%}
{% load tags %}

{% block content%}
    <div class="col-12 mb-5">
        <a class="btn btn-outline-primary" href="{% url 'catalog:blog_create'%}"> Добавить статью</a>
    </div>
    {% for object in object_list %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <h5 class="card-title">{{ object.header|title }} ({{object.slug}})</h5>
                    <p class="card-text">Описание: {{object.body}}</p>
                    <p class="card-text">Количество просмотров: {{object.views_count}}</p>
                    <img src="{{ object.preview|mediapath }}" class="card-img-top product-img"> 
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btw-group">
                            <a href="{% url 'catalog:blog_view' object.pk %}"
                                class="btn btn-sm btn-outline-secondary">View</a>
                            <a href="{% url 'catalog:blog_update' object.pk %}"
                                class="btn btn-sm btn-outline-secondary">Edit</a>
                            <a href="{% url 'catalog:blog_delete' object.pk %}"
                                class="btn btn-sm btn-outline-danger">Delete</a>
                        </div>
                        {% if object.is_published %}    
                                <a href="{% url 'catalog:toggle_activity' object.pk %}"
                                    class="btn btn-warning">Деактивировать</a>
                            {% else %}
                                <a href="{% url 'catalog:toggle_activity' object.pk %}"
                                    class="btn btn-success">Активировать</a>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
            {% endfor %}
    {% endblock %}